<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" > 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    {# Theme color for browser chrome (chrome android) #}
    <meta name="theme-color" content="#1da1f2">

    {# Primary Meta Tags #}
    <title>{{title}}</title>
    <meta name="title" content="{{title}}">
    <meta name="description" content="A brief guide on how to server side render a tweet">

    <link href="https://fonts.googleapis.com/css?family=Lato|Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/site.css">

    {# capture the CSS content as a Nunjucks variable #}
    {% set css %}
        {% include "site.css" %}
        {% tweetStyles %}
    {% endset %}
    {# feed it through our cssmin filter to minify #}
    <style type="text/css">{{ css | cssmin | safe }}</style>
    
</head>
<body class="page">

    <header>
      <nav class="nav">
            <ul>
                <li><a href="/" class='{{ "active" if "/" == page.url }}'>Home</a></li>
                <li><a href="/static/" class='{{ "active" if "/static/" in page.url }}'>Static Demo</a></li>
                <li><a href="/client/" class='{{ "active" if "/client/" in page.url }}'>Client Demo</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">

       <h1> {{title}} </h1>

        {{ content | safe }}

    </main>

    <footer>
      <a href="https://github.com/KyleMit/eleventy-plugin-embed-tweet-demo">KyleMit</a>  &copy; 2019 
      — Built with 💗 with <a href="https://www.11ty.dev/">11ty</a>
    </footer>

</body>
</html>
