/* page layout */

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body {
    min-height: 100%;
}

body.page {
    font-family: 'Lato', sans-serif;
    max-width: 50rem;
    margin: 0 auto;
    background: #fffdfd;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(100%, 50rem);
    line-height: 1.3;
    font-size: 18px;
}

main.content {
    padding: 0 15px;
}


/* page specific styles */

.center .content {
    text-align: center;
}

.center .tweet-card,
.center twitter-widget {
    margin: 10px auto;
}


/* typography */

h1,
h2,
h3 {
    font-family: 'Nunito', sans-serif;
    margin-top: 1.5em;
}

margin-top: 1.5em;
img {
    max-width: 100%;
}

pre {
    background: #f1f1f1;
    padding: 10px;
    max-width: 100%;
    overflow-x: auto;
}

blockquote:not(.tweet-card) {
    border-left: 3px solid grey;
    padding: 0 15px;
    margin: 15px 0;
    background: #f9f9f9;
}


/* nav */

.nav ul {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    background-color: hsl(203, 70%, 34%);
    border-radius: 2px;
}

.nav ul li {
    list-style: none;
    flex: 1 1 auto;
    text-align: center;
}

.nav ul a {
    display: block;
    padding: 8px 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: hsl(203, 70%, 34%);
    border-bottom: 3px solid hsl(203, 70%, 34%);
    border-radius: 2px;
    transition: background-color .4s ease, border-bottom-color .4s ease;
}

.nav ul a.active {
    border-bottom-color: hsl(203, 100%, 72%);
}

.nav ul a:hover {
    background-color: hsl(203, 81%, 27%);
    border-bottom-color: hsl(203, 83%, 62%);
}


/* footer */

footer {
    background-color: #434343;
    color: white;
    padding: 7px;
    text-align: center;
}

footer a {
    color: hsl(203, 100%, 84%);
    text-decoration: none;
}